<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<rewrite>
		   <rules>
		   		<rule name="acme-challenge no redirect" stopProcessing="true">
					<match url="^~/.well-known$" ignoreCase="true" />
					<action type="None" />
				</rule>
				
				<rule name="Redirect to non www" patternSyntax="ECMAScript" stopProcessing="true">
				  <match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^www.unitejs.com$" />
						<add input="{HTTP_HOST}" pattern="^unitejs.io$" />
						<add input="{HTTP_HOST}" pattern="^www.unitejs.io$" />
					</conditions>
				  <action type="Redirect" url="https://unitejs.com/{R:0}" redirectType="Permanent" />
				</rule>
				
				<rule name="Redirect http to https" enabled="true" stopProcessing="true">
				  <match url="(.*)" ignoreCase="false" />
				  <conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				  </conditions>
				  <action type="Redirect" url="https://unitejs.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>

		</rewrite>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension="." />
			<mimeMap fileExtension="." mimeType="text/plain" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
	</system.webServer>
</configuration>
